tmp
*.pro.user*
build*
release
cmake-build*
*~
*.o
*.lst
*.exe
!/.travis.yml
!/.gitignore
moc_*.cpp
ui_*.h
*tags
install
CMakeCache.txt
Makefile
nitrokey-app
*.*_parameters
*.depends
*.cmake
CMakeFiles/
qrc_resources.cpp
