pkgbase = nitrokey-app
	pkgdesc = Nitrokey management application
	pkgver = r477.g694e6a5
	pkgrel = 1
	url = https://www.nitrokey.com
	install = nitrokey-app.install
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = git
	depends = qt5-base
	depends = libusb>=1.0.0
	source = nitrokey-app::git+https://github.com/Nitrokey/nitrokey-app
	sha256sums = SKIP

pkgname = nitrokey-app

