pkgbase = nitrokey-app
	pkgdesc = Nitrokey management application
	pkgver = r358.g886fed4
	pkgrel = 1
	url = https://www.nitrokey.com
	install = nitrokey-app.install
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = git
	depends = qt5-base
	depends = libusb>=1.0.0
	source = nitrokey-app::git+https://github.com/Nitrokey/nitrokey-app
	source = 40-nitrokey.rules
	source = nitrokey-app.desktop
	sha256sums = SKIP
	sha256sums = 20dff1e02ee899ebfabcbb4b995d5b0f46301969a6ee11668cd37cbef77b95ad
	sha256sums = 6d847e94fb3e81d24765c0d0ad54f375f4943ace9b2144d5dc45e5b159184e94

pkgname = nitrokey-app

