<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>LSUIElement</key>
        <string>0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>CS_icon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
        <string>Nitrokey Device Manager</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>nitrokey-app</string>
	<key>CFBundleIdentifier</key>
        <string>com.nitrokey.nitrokey-app</string>
	<key>NOTE</key>
        <string>Copyright (c) 2012-2018 Nitrokey UG</string>
</dict>
</plist>
