#!/usr/bin/make -f

export DEB_BUILD_HARDENING=1
export QT_SELECT=qt5

clean:
	-rm build
	-rm nitrokey-app
	dh_testdir
	qmake -qt=qt5
	make clean
	dh_clean -A

build:
	cd libnitrokey/build && cmake .. && ${MAKE}
	qmake -qt=qt5
	${MAKE}
	touch build

nitrokey-app: build
	

binary: nitrokey-app
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	install -m755 nitrokey-app debian/nitrokey-app/usr/bin/nitrokey-app

	cp -r data/icons/ubuntu-mono-dark/* debian/nitrokey-app/usr/share/icons/ubuntu-mono-dark/
	cp -r data/icons/ubuntu-mono-dark/* debian/nitrokey-app/usr/share/icons/breeze-dark/
	cp -r data/icons/ubuntu-mono-dark/* debian/nitrokey-app/usr/share/icons/Humanity-Dark/
	cp -r data/icons/ubuntu-mono-light/* debian/nitrokey-app/usr/share/icons/ubuntu-mono-light/
	cp -r data/icons/ubuntu-mono-light/* debian/nitrokey-app/usr/share/icons/breeze/
	cp -r data/icons/ubuntu-mono-light/* debian/nitrokey-app/usr/share/icons/Humanity/
	cp -r data/icons/hicolor/* debian/nitrokey-app/usr/share/icons/hicolor/
	cp -r data/icons/hicolor/* debian/nitrokey-app/usr/share/icons/Adwaita/

	install -m644 data/nitrokey-app.desktop debian/nitrokey-app/usr/share/applications/nitrokey-app.desktop
	install -m644 data/icons/hicolor/48x48/apps/nitrokey-app.png debian/nitrokey-app/usr/share/pixmaps/nitrokey-app.png
	install -m644 data/nitrokey-app-small.xpm debian/nitrokey-app/usr/share/pixmaps/nitrokey-app-small.xpm
	install -m644 data/41-nitrokey.rules debian/nitrokey-app/lib/udev/rules.d/41-nitrokey.rules
	install -m644 data/bash-autocomplete/nitrokey-app debian/nitrokey-app/usr/share/bash-completion/completions/nitrokey-app

	dh_installdocs
	dh_installchangelogs
	dh_strip
	dh_shlibdeps
	dh_installmenu
	dh_icons
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb


binary-arch: binary
binary-indep: binary

build-arch: build
build-indep: build

.PHONY: clean binary
